{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Ajouter membre{% endblock %}
{% block body %}
<section class="row">
    <div class="col-lg-7 mx-auto">
        {{form_start(form)}}
            {{form_widget(form)}}
            <button class="btn btn-primary">Ajouter</button>
        {{form_end(form)}}
    </div>
</section>
{% endblock %}