{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}

<section class="container">
    <div class="row gx-2 gy-2">
        {% for projet in projets %}
            <div class="col-md-4">
                <div class="card">
                    {% if projet.brandImage == null %}
                        <img class="img-fluid card-img-top " src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="avatar"  style="height:250px;">
                    {% else %}
                        <img class="img-fluid card-img-top " src="{{ asset('uploads/' ~ projet.brandImage) }}" alt="avatar"  style="height:250px;">
                    {% endif %}
                   
                    <div class="card-body">
                        <span class="card-title">
                           {{projet.titre}}
                        </span>
                        <p class="card-text">
                           {{projet.description}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <span>Lome,Togo</span>

                        <a href="{{path("details_projet",{id: projet.id})}}" class="btn float-end">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!--div class="col-md-4">
            <div class="card">
                <img class="img-fluid card-img-top " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"  style="height:250px;">
                <div class="card-body">
                    <span class="card-title">
                        Vimiella
                    </span>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis blanditiis quia, rem dolores aspernatur 
                    </p>
                </div>
                <div class="card-footer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span>Lome,Togo</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid card-img-top " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"  style="height:250px;">
                <div class="card-body">
                    <span class="card-title">
                        Vimiella
                    </span>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis blanditiis quia, rem dolores aspernatur 
                    </p>
                </div>
                <div class="card-footer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span>Lome,Togo</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid card-img-top " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"  style="height:250px;">
                <div class="card-body">
                    <span class="card-title">
                        Vimiella
                    </span>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis blanditiis quia, rem dolores aspernatur 
                    </p>
                </div>
                <div class="card-footer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span>Lome,Togo</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid card-img-top " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"  style="height:250px;">
                <div class="card-body">
                    <span class="card-title">
                        Vimiella
                    </span>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis blanditiis quia, rem dolores aspernatur 
                    </p>
                </div>
                <div class="card-footer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span>Lome,Togo</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid card-img-top " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"  style="height:250px;">
                <div class="card-body">
                    <span class="card-title">
                        Vimiella
                    </span>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis blanditiis quia, rem dolores aspernatur 
                    </p>
                </div>
                <div class="card-footer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span>Lome,Togo</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid card-img-top " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"  style="height:250px;">
                <div class="card-body">
                    <span class="card-title">
                        Vimiella
                    </span>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis blanditiis quia, rem dolores aspernatur 
                    </p>
                </div>
                <div class="card-footer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span>Lome,Togo</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid card-img-top " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"  style="height:250px;">
                <div class="card-body">
                    <span class="card-title">
                        Vimiella
                    </span>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis blanditiis quia, rem dolores aspernatur 
                    </p>
                </div>
                <div class="card-footer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span>Lome,Togo</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid card-img-top " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"  style="height:250px;">
                <div class="card-body">
                    <span class="card-title">
                        Vimiella
                    </span>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis blanditiis quia, rem dolores aspernatur 
                    </p>
                </div>
                <div class="card-footer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span>Lome,Togo</span>
                </div>
            </div>
        </div-->
    </div>
    
</section>
{% endblock %}
